<section class="breadcrumbs-wrap">
    <div class="container">
        <ul>
            <li><a href="#"><i class="icofont icofont-home"></i></a></li>
            <li>Contact Us</li>
        </ul>
        <h1>Contact Us</h1>
    </div>
</section>

<div id="body-content" class="no-overflow">
    <section class="section-pad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 mx-auto">
                    <div class="contact-map-bg text-center">
                        <img src="images/map-bg.png" alt>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 col-xl-9 mx-auto col-md-12">
                    <div class="contact-wrap bg-white alternate">
                        <form novalidate id="contact_form" method="post" action="#">
                            <div class="row">
                                <div class="col-sm-12 col-md-4 mb-0">
                                    <input type="text" placeholder="Your Name" class="form-control border" id="name"
                                        name="name">
                                </div>
                                <div class="col-sm-12 col-md-4 mb-0">
                                    <input type="text" placeholder="Your Email " class="form-control border"
                                        id="lastname" name="lastname">
                                </div>
                                <div class="col-sm-12 col-md-4 mb-0">
                                    <input type="text" placeholder="Subject" class="form-control border" id="email"
                                        name="email">
                                </div>
                                <div class="col-sm-12 mb-0">
                                    <textarea placeholder="Message" rows="8" class="form-control border" id="comment"
                                        name="comment"></textarea>
                                </div>
                                <div class="col-sm-12">
                                    <button class="btn-theme bg-navy-blue mt-3" type="submit">Send Now <i
                                            class="icofont icofont-verification-check"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="clearfix"></div>
</div>

<section class="home-pad">
    <div id="map-holder-contact">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15224.424763719431!2d78.3866961!3d17.4546308!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb91eea58af917%3A0x29aefbed2a1bc024!2sCalibrage%20Info%20Systems%20Pvt.%20Ltd.!5e0!3m2!1sen!2sin!4v1703224510787!5m2!1sen!2sin"
            style="border:0;" allowfullscreen></iframe>
    </div>
</section>

<div id="back-top">
    <a class="img-circle" href="#top">
        <i class="fa fa-angle-up"></i>
    </a>
</div>

<div class="overlay overlay-hugeinc">
    <form class="form-inline mt-2 mt-md-0">
        <div class="form-inner">
            <div class="form-inner-div d-inline-flex align-items-center no-gutters">
                <div class="col-md-1">
                    <i class="icofont-search"></i>
                </div>
                <div class="col-10">
                    <input class="form-control w-100 p-0" type="text" placeholder="Search" aria-label="Search">
                </div>
                <div class="col-md-1">
                    <a href="#" class="overlay-close link-oragne"><i class="icofont-close-line"></i></a>
                </div>
            </div>
        </div>
    </form>
</div>