<section class="breadcrumbs-wrap">
    <div class="container">
        <ul>
            <li><a href="#"><i class="icofont icofont-home"></i></a></li>
            <li>Services</li>
        </ul>
        <h1>Web Designing and Web Development</h1>
    </div>
</section>

<div id="body-content">
    <div class="container">
        <div class="row pad-top">
            <div class="col-md-12 col-lg-8">
                <div class="sidebar-padding">
                    <div class>
                        <p><img src="assets/images/blog/blog-large-1.jpg" alt></p>
                        <div class="small-sep">&nbsp;</div>
                        <div class="lead mb-4">
                            Our in-house, award-winning web and graphic designers recognize the fact that usability,
                            functionality, and visualization are the three important factors of an application interface
                            or
                            website. We work with you to ensure that your digital marketing goals are realized with the
                            designs we create.
                        </div>
                        <p>
                            Our process, which we’ve constantly developed and streamlined over the years, focuses on
                            getting
                            to know you, your company, and most importantly, your target audience. We develop design
                            concepts that will meet and exceed your expectations and your marketing goals.</p>
                        <ul class="fa-ul list-colored">
                            <li><i class="icofont fa-li icofont-checked"></i><strong>Web API</strong></li>
                            <li><i class="icofont fa-li icofont-checked"></i><strong>Web Services</strong></li>
                            <li><i class="icofont fa-li icofont-checked"></i><strong>ASP.NET Core</strong></li>
                            <li><i class="icofont fa-li icofont-checked"></i><strong>Azure</strong></li>
                            <li><i class="icofont fa-li icofont-checked"></i><strong>Angular</strong></li>
                            <li><i class="icofont fa-li icofont-checked"></i><strong>WCF</strong></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-lg-4 sidebar-left order-lg-first">
                <aside class="sidebar-spacer row">
                    <div class="sidebar-primary col-lg-12 col-md-6">
                        <div class="widgets-sidebar">
                            <h3 class="h3-md fw-6 mb-4">Our Clients</h3>
                            <div class="row">
                                <div class="col-6">
                                    <div class="client-logos">
                                        <img src="assets/images/clients-icon/icon-1.png" alt>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="client-logos">
                                        <img src="assets/images/clients-icon/icon-2.png" alt>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="client-logos">
                                        <img src="assets/images/clients-icon/icon-3.png" alt>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="client-logos">
                                        <img src="assets/images/clients-icon/icon-4.png" alt>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="client-logos">
                                        <img src="assets/images/clients-icon/icon-5.png" alt>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="client-logos">
                                        <img src="assets/images/clients-icon/icon-6.png" alt>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="sidebar-primary col-lg-12 col-md-6">

                        <div class="widgets-sidebar">
                            <div class="widget-quick-support">
                                <div class="head">
                                    FEEL FREE TO <br> Get in touch
                                </div>
                                <p>Contact our customer support team if you have any further questions. We are always
                                    here to help you out</p>
                                <a href="#" class="btn btn-theme bg-white bordered mt-2">Quick Support <i
                                        class="icofont icofont-rounded-double-right"></i></a>
                            </div>
                        </div>
                    </div>

                </aside>
            </div>
        </div>
    </div>
</div>