<header class="fixed-top header-fullpage top-transparent wow fadeInDown only-topbar-transparent">


    <nav class="navbar navbar-expand-lg bg-transparent">
        <div class="container p-0 text-nowrap">
            <div class="d-flex align-items-center w-100 col pl-0">
                <a class="navbar-brand rounded-bottom light-bg" href="index.html">
                    <img src="assets/images/logo-dark.png" alt>
                </a>
            </div>

            <div class="d-inline-flex request-btn order-lg-last col p-0">
                <!-- <a class="nav-link mr-2 ml-auto" href="#" id="search_home"><i class="icofont-search"></i></a> -->
                <a class="btn-theme icon-left bg-navy-blue no-shadow align-self-center" href="#" role="button"
                    data-toggle="modal" data-target="#request_popup"><i class="icofont-ui-calendar"></i> <span
                        class="d-none d-sm-inline-block"> Sign In</span></a>

                <button class="navbar-toggler x collapsed" type="button" data-toggle="collapse"
                    data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>

            <div class="collapse navbar-collapse" id="navbarCollapse" data-hover="dropdown"
                data-animations="slideInUp slideInUp slideInUp slideInUp">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="/home" aria-expanded="false">Home</a>

                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle-mob" href="/index.html" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Company <i class="icofont-rounded-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" routerLink="/aboutUs">About Us</a></li>
                            <li><a class="dropdown-item" routerLink="/leadershipteam">Leadership Team</a></li>
                            <li><a class="dropdown-item" routerLink="/careers">Careers</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle-mob" href="/index.html" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Services <i class="icofont-rounded-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" routerLink="/webdesign">Web Design & Development</a></li>
                            <li><a class="dropdown-item" routerLink="/mobile">Mobile App Development</a></li>
                            <li><a class="dropdown-item" routerLink="/bussinessintelligence">Bussiness Intelligence & Data
                                    Base</a></li>
                            <li><a class="dropdown-item" routerLink="/contractprogramming">Contract Programming</a></li>
                            <li><a class="dropdown-item" routerLink="/plc">PLC Programming</a></li>
                            <li><a class="dropdown-item" routerLink="/technical">Technical Support And
                                    Maintenance</a></li>
                            <li><a class="dropdown-item" routerLink="/bpo">BPO(Non Voice Process)</a></li>
                            <li><a class="dropdown-item" routerLink="/project">Project Management & Analysis</a>
                            </li>
                            <li><a class="dropdown-item" routerLink="/consultancy">Consultancy</a></li>
                            <li><a class="dropdown-item" routerLink="/outsourcing">OutSourcing</a></li>
                            <li><a class="dropdown-item" routerLink="/education">Education/Training</a></li>
                            <li><a class="dropdown-item" routerLink="/other">Other IT Services</a></li>
                            <li><a class="dropdown-item" routerLink="/ecommerce">ECommerce Application</a></li>
                        </ul>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link " href="/industries" aria-expanded="false">Industries </a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contactUs">Contact Us</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

</header>