<!--====== Footer Part Start ======-->
<footer>
    <div class="container">
        <div class="footer-widget">
            <div class="row">
                <div class="col-lg-4 col-sm-5 order-1">
                    <div class="widget site-info-widget">
                        <div class="footer-logo">
                            <img src="assets/logo-2.png" alt="Calibrage">
                        </div>
                        <p>Power of choice is untrammelled & when nothing prevents our being able</p>
                        <ul class="social-links">
                            <li><a href="#"><i class="icofont-facebook"></i></a></li>
                            <li><a href="#"><i class="icofont-twitter"></i></a></li>
                            <li><a href="#"><i class="icofont-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-8 order-lg-4 order-5">
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <div class="widget nav-widget">
                                <h4 class="widget-title">Company</h4>
                                <ul>
                                    <li><a href="/aboutUs">About Calibrage</a></li>
                                    <li><a href="/leadershipteam">Leadership Team</a></li>
                                    <li><a href="/careers">Careers</a></li>
                                    <li><a href="/industries">Industries</a></li>
                                    <li><a href="/contactUs">Contact US</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="widget contact-widget">
                                <h4 class="widget-title">Contact Us</h4>
                                <!-- <p>Untrammelled & nothing preven our being able</p> -->
                                <ul class="contact-infos">
                                    <li>
                                        <a href="tel:+0123456789">
                                            <i class="icofont-building"></i>
                                            +91-40-48525410
                                        </a>
                                    </li>
                                    <li>
                                        <a href="tel:+0123456789">
                                            <i class="icofont-phone"></i> +91-9959935410
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/cdn-cgi/l/email-protection#5f2c2a2f2f302d2b1f38323e3633713c3032">
                                            <i class="icofont-email"></i> <span class="__cf_email__"
                                                mailto:data-cfemail="1b686e6b6b74696f5b7c767a727735787476">info@calibrage.in</span>
                                        </a>
                                    </li>
                                    <li> <i class="far fa-map-marker-alt"></i> Calibrage Info Systems Pvt. Ltd,<br>
                                        INRHYTHM Towers, 4th Floor–4A,<br>
                                        Plot No: 1023, Gurukul Society, Khanamet VLG,<br>
                                        Madhapur, Hyderabad-500081.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-lg-4 col-sm-6 order-lg-5 order-4">
						<div class="widget insta-feed-widget">
							<h4 class="widget-title">Follow Instagram</h4>
							<div class="insta-images">
								<div class="insta-img" style="background-image: url(assets/instagram/01.jpg);">
									<a href="#">
										<i class="fab fa-instagram"></i>
									</a>
								</div>
								<div class="insta-img" style="background-image: url(assets/instagram/02.jpg);">
									<a href="#">
										<i class="fab fa-instagram"></i>
									</a>
								</div>
								<div class="insta-img" style="background-image: url(assets/instagram/03.jpg);">
									<a href="#">
										<i class="fab fa-instagram"></i>
									</a>
								</div>
								<div class="insta-img" style="background-image: url(assets/instagram/04.jpg);">
									<a href="#">
										<i class="fab fa-instagram"></i>
									</a>
								</div>
								<div class="insta-img" style="background-image: url(assets/instagram/05.jpg);">
									<a href="#">
										<i class="fab fa-instagram"></i>
									</a>
								</div>
								<div class="insta-img" style="background-image: url(assets/instagram/06.jpg);">
									<a href="#">
										<i class="fab fa-instagram"></i>
									</a>
								</div>
							</div>
						</div>
					</div> -->
            </div>
        </div>
        <div class="footer-copyright">
            <p class="copyright-text">
                <span>Copy@ <a href="#">Calibrage</a> -2024</span>
                <span>All Right Reserved </span>
            </p>
            <a href="#" class="back-to-top"><i class="icofont-curved-up"></i></a>
        </div>
    </div>
    <!-- Lines -->
    <img src="assets/lines/01.png" alt="line-shape" class="line-one">
    <img src="assets/lines/02.png" alt="line-shape" class="line-two">
</footer>
<!--====== Footer Part end ======-->