<section class="breadcrumbs-wrap">
    <div class="container">
        <ul>
            <li><a href="#"><i class="icofont icofont-home"></i></a></li>
            <li>Services</li>
        </ul>
        <h1>E-commerce Applications
        </h1>
    </div>
</section>

<div id="body-content">
    <div class="container">
        <div class="row pad-top">
            <div class="col-md-12 col-lg-8">
                <div class="sidebar-padding">
                    <div class>
                        <p><img src="assets/images/blog/blog-large-1.jpg" alt></p>
                        <div class="small-sep">&nbsp;</div>
                        <div class="lead mb-4">The rapidly growing e-Commerce industry is gradually shifting to the
                            world of smartphones, as people these days prefer browsing through shopping stores on their
                            mobile devices rather than visiting one. Making mobile apps for retail shops helps in
                            finding products in the store while also able to pay using the mobile app, is what defines
                            the retail shopping app. eCommerce mobile app development companies have zeroed down upon
                            the mobile platform to earn their dues while keeping the websites as an additional means.
                            Calibrage is one of the leading eCommerce mobile app development company in India that has
                            better end-to-end functionality. Being in this field for a decade, we are ready to provide
                            eCommerce application development services to integrate your business into mobile platform.
                            Our e Commerce applications possess all the beneficial marketing strategies to provide the
                            most engaging digital experience for your customers to maintain the highest possible
                            eCommerce standards
                        </div>
                        <ul class="fa-ul list-colored">
                            <li><i class="icofont fa-li icofont-checked"></i><strong>Single vendor e-commerce
                                </strong></li>
                            <li><i class="icofont fa-li icofont-checked"></i><strong>Multi vendor e-commerce
                                </strong>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-lg-4 sidebar-left order-lg-first">
                <aside class="sidebar-spacer row">
                    <div class="sidebar-primary col-lg-12 col-md-6">
                        <div class="widgets-sidebar">
                            <h3 class="h3-md fw-6 mb-4">Our Clients</h3>
                            <div class="row">
                                <div class="col-6">
                                    <div class="client-logos">
                                        <img src="assets/images/clients-icon/icon-1.png" alt>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="client-logos">
                                        <img src="assets/images/clients-icon/icon-2.png" alt>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="client-logos">
                                        <img src="assets/images/clients-icon/icon-3.png" alt>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="client-logos">
                                        <img src="assets/images/clients-icon/icon-4.png" alt>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="client-logos">
                                        <img src="assets/images/clients-icon/icon-5.png" alt>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="client-logos">
                                        <img src="assets/images/clients-icon/icon-6.png" alt>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="sidebar-primary col-lg-12 col-md-6">

                        <div class="widgets-sidebar">
                            <div class="widget-quick-support">
                                <div class="head">
                                    FEEL FREE TO <br> Get in touch
                                </div>
                                <p>Contact our customer support team if you have any further questions. We are always
                                    here to help you out</p>
                                <a href="#" class="btn btn-theme bg-white bordered mt-2">Quick Support <i
                                        class="icofont icofont-rounded-double-right"></i></a>
                            </div>
                        </div>
                    </div>

                </aside>
            </div>
        </div>
    </div>
</div>