<section class="breadcrumbs-wrap">
    <div class="container">
        <ul>
            <li><a href="#"><i class="icofont icofont-home"></i></a></li>
            <li>Services</li>
        </ul>
        <h1>Education Training
        </h1>
    </div>
</section>

<div id="body-content">
    <div class="container">
        <div class="row pad-top">
            <div class="col-md-12 col-lg-8">
                <div class="sidebar-padding">
                    <div class>
                        <p><img src="assets/images/blog/blog-large-1.jpg" alt></p>
                        <div class="small-sep">&nbsp;</div>
                        <div class="lead mb-4">The world is going digital and educational institutions are no exception.
                            Students on every continent expect features such as mobile online access to resources,
                            distance learning, and elearning options. In India alone, 1.4 million schools educate over
                            227 million students-the largest educational system in the world. Calibrage has developed a
                            specialty in educational services, working with schools, businesses, and governments to
                            provide a variety of cloud-based solutions. From learning management systems to course
                            design and online assessment platforms, our digital learning specialists can help you
                            address the specific needs of your market. Whether you serve rural areas or major cities,
                            one community or multiple countries, Calibrage has solutions that are sized to meet your
                            needs.
                        </div>
                        <ul class="fa-ul list-colored">
                            <li><i class="icofont fa-li icofont-checked"></i><strong>Sessional class
                                </strong></li>
                            <li><i class="icofont fa-li icofont-checked"></i><strong>E-learning
                                </strong>
                            </li>
                            <li><i class="icofont fa-li icofont-checked"></i><strong>Online class
                                </strong>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-lg-4 sidebar-left order-lg-first">
                <aside class="sidebar-spacer row">
                    <div class="sidebar-primary col-lg-12 col-md-6">
                        <div class="widgets-sidebar">
                            <h3 class="h3-md fw-6 mb-4">Our Clients</h3>
                            <div class="row">
                                <div class="col-6">
                                    <div class="client-logos">
                                        <img src="assets/images/clients-icon/icon-1.png" alt>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="client-logos">
                                        <img src="assets/images/clients-icon/icon-2.png" alt>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="client-logos">
                                        <img src="assets/images/clients-icon/icon-3.png" alt>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="client-logos">
                                        <img src="assets/images/clients-icon/icon-4.png" alt>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="client-logos">
                                        <img src="assets/images/clients-icon/icon-5.png" alt>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="client-logos">
                                        <img src="assets/images/clients-icon/icon-6.png" alt>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="sidebar-primary col-lg-12 col-md-6">

                        <div class="widgets-sidebar">
                            <div class="widget-quick-support">
                                <div class="head">
                                    FEEL FREE TO <br> Get in touch
                                </div>
                                <p>Contact our customer support team if you have any further questions. We are always
                                    here to help you out</p>
                                <a href="#" class="btn btn-theme bg-white bordered mt-2">Quick Support <i
                                        class="icofont icofont-rounded-double-right"></i></a>
                            </div>
                        </div>
                    </div>

                </aside>
            </div>
        </div>
    </div>
</div>