<section class="breadcrumbs-wrap">
    <div class="container">
        <ul>
            <li><a href="#"><i class="icofont icofont-home"></i></a></li>
            <li>Services</li>
        </ul>
        <h1>Contract Programming
        </h1>
    </div>
</section>

<div id="body-content">
    <div class="container">
        <div class="row pad-top">
            <div class="col-md-12 col-lg-8">
                <div class="sidebar-padding">
                    <div class>
                        <p><img src="assets/images/blog/blog-large-1.jpg" alt></p>
                        <div class="small-sep">&nbsp;</div>
                        <div class="lead mb-4">The elements of 'contract-based programming' – assertions of program
                            properties that are part of the source text – have been available in some programming
                            languages for many years but have only recently moved into the mainstream of software
                            development. The latest version has added contract-based programming features that can be
                            verified either dynamically with run-time checks, or statically through formal analysis
                            tools. Both approaches help make programs more reliable by preventing errors from getting
                            into production code.
                        </div>
                        <p>
                            In everyday life a service or a product typically comes with a contract or warranty: an
                            agreement in which one party promises to supply the service or product for the benefit of
                            some other party. An effective contract for a service specifies two kinds of requirements.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-lg-4 sidebar-left order-lg-first">
                <aside class="sidebar-spacer row">
                    <div class="sidebar-primary col-lg-12 col-md-6">
                        <div class="widgets-sidebar">
                            <h3 class="h3-md fw-6 mb-4">Our Clients</h3>
                            <div class="row">
                                <div class="col-6">
                                    <div class="client-logos">
                                        <img src="assets/images/clients-icon/icon-1.png" alt>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="client-logos">
                                        <img src="assets/images/clients-icon/icon-2.png" alt>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="client-logos">
                                        <img src="assets/images/clients-icon/icon-3.png" alt>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="client-logos">
                                        <img src="assets/images/clients-icon/icon-4.png" alt>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="client-logos">
                                        <img src="assets/images/clients-icon/icon-5.png" alt>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="client-logos">
                                        <img src="assets/images/clients-icon/icon-6.png" alt>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="sidebar-primary col-lg-12 col-md-6">

                        <div class="widgets-sidebar">
                            <div class="widget-quick-support">
                                <div class="head">
                                    FEEL FREE TO <br> Get in touch
                                </div>
                                <p>Contact our customer support team if you have any further questions. We are always
                                    here to help you out</p>
                                <a href="#" class="btn btn-theme bg-white bordered mt-2">Quick Support <i
                                        class="icofont icofont-rounded-double-right"></i></a>
                            </div>
                        </div>
                    </div>

                </aside>
            </div>
        </div>
    </div>
</div>