<section class="breadcrumbs-wrap">
    <div class="container">
        <ul>
            <li><a href="#"><i class="icofont icofont-home"></i></a></li>
            <li>Services</li>
        </ul>
        <h1>Business Intelligence & Database
        </h1>
    </div>
</section>

<div id="body-content">
    <div class="container">
        <div class="row pad-top">
            <div class="col-md-12 col-lg-8">
                <div class="sidebar-padding">
                    <div class>
                        <p><img src="assets/images/blog/blog-large-1.jpg" alt></p>
                        <div class="small-sep">&nbsp;</div>
                        <div class="lead mb-4">All the professional bodies offer guidelines on the level and type of
                            information that should be defined in the early stages of the project in the form of a
                            Project Management Plan.
                        </div>
                        <p>
                            The purpose of such a document is to provide a comprehensive baseline of what has to be
                            achieved by the project, how it is to be achieved, who will be involved, how it will be
                            reported and measured and how information will be communicated. It should be used as a
                            reference for any decision that is made on the project and for clarification of unclear
                            areas.Such a document should be used as a reference throughout the project to ensure that
                            the management of the project is carried out consistently and in line with policy and
                            procedures. Although the PMP is developed as part of the project initiation and definition,
                            it should be a living document that evolves as the project progresses and is updated with
                            the latest relevant information as required.</p>
                        <p>
                            The PMP should be available to all project members as it can provide essential project
                            information and can be used to introduce project members to the project. The project
                            management plan is probably the main communication document for the project.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-lg-4 sidebar-left order-lg-first">
                <aside class="sidebar-spacer row">
                    <div class="sidebar-primary col-lg-12 col-md-6">
                        <div class="widgets-sidebar">
                            <h3 class="h3-md fw-6 mb-4">Our Clients</h3>
                            <div class="row">
                                <div class="col-6">
                                    <div class="client-logos">
                                        <img src="assets/images/clients-icon/icon-1.png" alt>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="client-logos">
                                        <img src="assets/images/clients-icon/icon-2.png" alt>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="client-logos">
                                        <img src="assets/images/clients-icon/icon-3.png" alt>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="client-logos">
                                        <img src="assets/images/clients-icon/icon-4.png" alt>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="client-logos">
                                        <img src="assets/images/clients-icon/icon-5.png" alt>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="client-logos">
                                        <img src="assets/images/clients-icon/icon-6.png" alt>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="sidebar-primary col-lg-12 col-md-6">

                        <div class="widgets-sidebar">
                            <div class="widget-quick-support">
                                <div class="head">
                                    FEEL FREE TO <br> Get in touch
                                </div>
                                <p>Contact our customer support team if you have any further questions. We are always
                                    here to help you out</p>
                                <a href="#" class="btn btn-theme bg-white bordered mt-2">Quick Support <i
                                        class="icofont icofont-rounded-double-right"></i></a>
                            </div>
                        </div>
                    </div>

                </aside>
            </div>
        </div>
    </div>
</div>