<app-carousel></app-carousel>

<div id="body-content">
    <section class=" wide-tb-50">
        <div class="container pos-rel">
            <div class="row">
                <div class="img-business-man">
                    <img src="assets/images/business-man.png" alt>
                </div>
                <div class="col-sm-12">
                    <div class="head-main">
                        <h1>About Us</h1>
                        <p>Our history has started in 2014, through next few we are going to rock the wordl!</p>
                    </div>
                </div>
                <div class="col-md-8 ml-auto why-choose wow fadeInRight" data-wow-duration="0" data-wow-delay="0.6s">
                    <div class="row">

                        <div class="col-12 col-lg-6">
                            <div class="service-icon-wrap">
                                <div class="media">
                                    <div class="service-icon">
                                        <i class="icofont-id"></i>
                                    </div>
                                    <div class="service-inner-content media-body">
                                        <h4 class="h4-md">Our Mission</h4>
                                        <p>Our mission is to translate advance technologies in values through
                                            professional services and providing our clients with the most optimal,
                                            cost-effective and robust solutions, which boost up with the increase in the
                                            returns and productivity of their businesses.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-6">
                            <div class="service-icon-wrap">
                                <div class="media">
                                    <div class="service-icon">
                                        <i class="icofont-live-support"></i>
                                    </div>
                                    <div class="service-inner-content media-body">
                                        <h4 class="h4-md">Our Vision</h4>
                                        <p>Our vision is to Create Peace and Synergy globally, through technologies and
                                            to build a reputation of being one of the most innovative IT Solution and
                                            Service provider.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="w-100 spacer-60 d-none d-md-none d-lg-block d-sm-none"></div> -->

                        <div class="col-12 col-lg-6">
                            <div class="service-icon-wrap">
                                <div class="media">
                                    <div class="service-icon">
                                        <i class="icofont-history"></i>
                                    </div>
                                    <div class="service-inner-content media-body">
                                        <h4 class="h4-md">Our Values</h4>
                                        <p>To provide quality with transparency dealing with commitment through advanced
                                            technologies to create cost effective with value in tune with time & overall
                                            effectiveness ethically. We aim to be the best at what we do.</p>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-12 col-lg-6">
                            <div class="service-icon-wrap">
                                <div class="media">
                                    <div class="service-icon">
                                        <i class="icofont-briefcase-1"></i>
                                    </div>
                                    <div class="service-inner-content media-body">
                                        <h4 class="h4-md">Our Approach</h4>
                                        <p>Our main emphasis is to deliver best quality in every project we undertake.
                                            With our time tested business methodology, and structured solution building
                                            approach, we ensure to maintain our global business standards.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-12 text-center">
                        <div class="spacer-50">
                        </div>
                        <a href="#" class="btn-theme bg-navy-blue">Request Quote <i
                                class="icofont-rounded-right"></i></a>
                        <div class="spacer-30">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="statistics-counter-wrap light">
        <div class="container">
            <div class="row">

                <div class="col-md-11 mx-auto team-slider">
                    <div class="contact-wrap">
                        <div class="head-main">
                            <h1>Our Services</h1>
                            <p>Boost your business performance with premium software development services. Our team is
                                proven to be result-driven and well-timed in project delivery.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row smart-mar">
                <div class="col-sm-12 col-md-3">
                    <div class="box-icon-2">
                        <i class="icofont icofont-dashboard-web"></i>
                        <h3> Web Design & Development</h3>
                        <p>Our in-house, award-winning web and graphic designers recognize the fact that usability,
                            functionality, and visualization.</p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3">
                    <div class="box-icon-2">
                        <i class="icofont-iphone"></i>
                        <h3> Mobile App Development</h3>
                        <p>We can develop a mobile ready site to work in conjunction with your existing web presence or
                            as a standalone.</p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3">
                    <div class="box-icon-2">
                        <i class="icofont-database"></i>
                        <h3> Business Intelligence & Data Base</h3>
                        <p>Business Intelligence (BI) helps different organizations in better decision-making leveraging
                            a wide range of latest tools and methods.</p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3">
                    <div class="box-icon-2">
                        <i class="icofont-code"></i>
                        <h3> Contract Programming</h3>
                        <p>The elements of 'contract-based programming' – assertions of program properties that are part
                            of the source text – have been available.p>
                    </div>
                </div>
            </div>
            <div class="row smart-mar">
                <div class="col-sm-12 col-md-3">
                    <div class="box-icon-2">
                        <i class="icofont icofont-chart-bar-graph"></i>
                        <h3> PLC Programming</h3>
                        <p>Calibrage has great experience implementing industrial automation solutions utilizing
                            Programmable Logic Controllers (PLCs).</p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3">
                    <div class="box-icon-2">
                        <i class="icofont-file-code"></i>
                        <h3> Technical Support & Maintenance</h3>
                        <p>We understand how critical it is for the businesses to not only have a website but also to
                            have it regularly maintained and updated.</p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3">
                    <div class="box-icon-2">
                        <i class="icofont-live-support"></i>
                        <h3> BPO (Non Voice Process)</h3>
                        <p>At Calibrage Info Systems, we specialize in providing top-notch non-voice process services
                            for businesses of all sizes across various industries.</p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3">
                    <div class="box-icon-2">
                        <i class="icofont-chart-histogram-alt"></i>
                        <h3> Project Management and Analysis</h3>
                        <p>All the professional bodies offer guidelines on the level and type of information that should
                            be defined in the early stages.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>