<section class="breadcrumbs-wrap">
    <div class="container">
        <ul>
            <li><a href="#"><i class="icofont icofont-home"></i></a></li>
            <li>Industries</li>
        </ul>
        <h1>Industries</h1>
    </div>
</section>

<section class="wide-tb-100 pb-0">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="box-icon-1">
                    <i class="icofont icofont-chart-line-alt"></i>
                    <h3>Ware House</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum consectetur sit ullam perspiciatis,
                        deserunt.</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="box-icon-1">
                    <i class="icofont icofont-businesswoman"></i>
                    <h3>Energy Management</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum consectetur sit ullam perspiciatis,
                        deserunt.</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="box-icon-1">
                    <i class="icofont-chart-flow"></i>
                    <h3>Agriculture</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum consectetur sit ullam perspiciatis,
                        deserunt.</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="box-icon-1">
                    <i class="icofont-chart-flow"></i>
                    <h3>Health Care & Insurance</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum consectetur sit ullam perspiciatis,
                        deserunt.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="box-icon-1">
                    <i class="icofont icofont-chart-line-alt"></i>
                    <h3>Manufacturing</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum consectetur sit ullam perspiciatis,
                        deserunt.</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="box-icon-1">
                    <i class="icofont icofont-businesswoman"></i>
                    <h3>PLC</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum consectetur sit ullam perspiciatis,
                        deserunt.</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="box-icon-1">
                    <i class="icofont-chart-flow"></i>
                    <h3>E-Payment</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum consectetur sit ullam perspiciatis,
                        deserunt.</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="box-icon-1">
                    <i class="icofont-chart-flow"></i>
                    <h3>Charge Back</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum consectetur sit ullam perspiciatis,
                        deserunt.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="box-icon-1">
                    <i class="icofont icofont-chart-line-alt"></i>
                    <h3>Travel</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum consectetur sit ullam perspiciatis,
                        deserunt.</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="box-icon-1">
                    <i class="icofont icofont-businesswoman"></i>
                    <h3>Education</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum consectetur sit ullam perspiciatis,
                        deserunt.</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="box-icon-1">
                    <i class="icofont-chart-flow"></i>
                    <h3>Food Processing</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum consectetur sit ullam perspiciatis,
                        deserunt.</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="box-icon-1">
                    <i class="icofont-chart-flow"></i>
                    <h3>Geo Fencing</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum consectetur sit ullam perspiciatis,
                        deserunt.</p>
                </div>
            </div>
        </div>
    </div>
</section>