<section class="breadcrumbs-wrap">
    <div class="container">
        <ul>
            <li><a href="#"><i class="icofont icofont-home"></i></a></li>
            <li>Company</li>
        </ul>
        <h1>About Us</h1>
    </div>
</section>

<div id="body-content">
    <section class="welcome-left">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-8">
                    <div class="head-sub">
                        <h2>Our history has started in 2014, through next few we are going to rock the
                            wordl!</h2>
                        <p>
                            Calibrage Info helps global companies run their mission-critical systems and operations
                            while
                            modernizing IT, optimizing data architectures, and ensuring security and scalability across
                            public, private and hybrid clouds.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-lg-4 col-md-6">
                    <div class="about-us-box">
                        <h3 class="h3-sm fw-6 txt-blue mb-2">Our Mission</h3>
                        <p>Our mission is to translate advance technologies in values through professional services and
                            providing our clients with the most optimal, cost-effective and robust solutions, which
                            boost up with the increase in the returns and productivity of their businesses.</p>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-4 col-md-6">
                    <div class="about-us-box">
                        <h3 class="h3-sm fw-6 txt-blue mb-2">Our Vission</h3>
                        <p>Our vision is to Create Peace and Synergy globally, through technologies and to build a
                            reputation of being one of the most innovative IT Solution and Service provider. We believe
                            in doing our work in the most efficient way with robust and structured methodology.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-lg-4 col-md-6">
                    <div class="about-us-box">
                        <h3 class="h3-sm fw-6 txt-blue mb-2">Our Values</h3>
                        <p>To provide quality with transparency dealing with commitment through advanced technologies to
                            create cost effective with value in tune with time & overall effectiveness ethically. We aim
                            to be the best at what we do.</p>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-4 col-md-6">
                    <div class="about-us-box">
                        <h3 class="h3-sm fw-6 txt-blue mb-2">Our Approach</h3>
                        <p>Our main emphasis is to deliver best quality in every project we undertake. With our time
                            tested business methodology, and structured solution building approach, we ensure to
                            maintain our global business standards.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="bg-scroll bg-img-8 wide-tb-100 pos-rel">
        <div class="bg-overlay black opacity-60"></div>
        <div class="container">

            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="stats-wrap">
                        <i class="icofont icofont-globe-alt"></i>
                        <div class="box">Global Loactions</div>
                        <span class="counter">1980</span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="stats-wrap">
                        <i class="icofont-tie"></i>
                        <div class="box">Happy Clients</div>
                        <span class="counter">754</span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="stats-wrap">
                        <i class="icofont icofont-briefcase"></i>
                        <div class="box">Casses Handled</div>
                        <span class="counter">1700</span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="stats-wrap">
                        <i class="icofont icofont-users-alt-5"></i>
                        <div class="box">People Consulted</div>
                        <span class="counter">27000</span>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>