.box-icon-2 {
    min-height: 270px !important;
    padding:10px;
}
.team-img{
    text-align: center;
}
.team-soical{
    width:100%;
}
.client-logos img{
    -webkit-filter: grayscale(100%);
       -moz-filter: grayscale(100%);
         -o-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
            filter: grayscale(100%); 
}