<div class="slider bg-navy-blue">
	<div id="rev_slider_1078_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="classic4export"
		data-source="gallery"
		style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">

		<div id="rev_slider_1078_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.1">
			<ul>

				<li data-transition="random" data-masterspeed="1000">

					<img src="assets/images/banner_slider_2.jpg" alt data-bgposition="center center" data-kenburns="on"
						data-duration="7000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="150"
						data-rotatestart="0" data-rotateend="0" data-blurstart="0" data-blurend="0"
						data-offsetstart="0 0" data-offsetend="0 0" class="rev-slidebg" data-no-retina>


					<div class="tp-caption tp-resizeme NotGeneric-Title" id="slide-82-layer-2"
						data-blendmode="”color-dodge“" data-x="['center','center','center','center']"
						data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
						data-voffset="['-70','-70','-70','-70']" data-fontsize="['70','60','60','40']"
						data-lineheight="['80','70','70','40']" data-width="none" data-height="none"
						data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
						data-frames="[{&quot;delay&quot;:200,&quot;speed&quot;:1000,&quot;sfx_effect&quot;:&quot;blockfromleft&quot;,&quot;sfxcolor&quot;:&quot;#ffffff&quot;,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;z:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power4.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]"
						data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
						data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]">
						Talented Consultants</div>

					<div class="tp-caption medium_light_white tp-resizeme" id="slide-82-layer-3"
						data-blendmode="”color-dodge“" data-x="['center','center','center','center']"
						data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
						data-voffset="['-10','-10','-10','-10']" data-width="none" data-height="none"
						data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
						data-frames="[{&quot;delay&quot;:500,&quot;speed&quot;:1000,&quot;sfx_effect&quot;:&quot;blockfromleft&quot;,&quot;sfxcolor&quot;:&quot;#ffffff&quot;,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;z:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power4.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]"
						data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
						data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
						data-fontsize="['28','28','28','24']" data-lineheight="['34','34','34','50']">Without
						consulting, plans stay as plans. </div>

					<div class="tp-caption tp-resizeme small_light_white " id="slide-82-layer-4"
						data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
						data-y="['middle','middle','middle','middle']" data-voffset="['60','60','60','60']"
						data-width="none" data-height="none" data-whitespace="nowrap" data-type="text"
						data-responsive_offset="on"
						data-frames="[{&quot;delay&quot;:600,&quot;speed&quot;:1000,&quot;sfx_effect&quot;:&quot;blockfromleft&quot;,&quot;sfxcolor&quot;:&quot;#ffffff&quot;,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;z:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power4.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]"
						data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
						data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
						data-fontsize="['16','16','16','16']" data-lineheight="['30','30','30','20']">We look forward to
						getting to know you and to <br> helping you take your company to new heights!</div>

					<div class="tp-caption tp-resizeme btn-theme bg-navy-blue rev-btn" id="slide-82-layer-5"
						data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
						data-y="['middle','middle','middle','middle']" data-voffset="['140','140','140','140']"
						data-width="none" data-height="none" data-whitespace="nowrap" data-type="text"
						data-responsive_offset="on"
						data-frames="[{&quot;delay&quot;:750,&quot;speed&quot;:1000,&quot;sfx_effect&quot;:&quot;blockfromleft&quot;,&quot;sfxcolor&quot;:&quot;#ffffff&quot;,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;z:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power4.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]"
						data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
						data-paddingright="[30,30,30,30]" data-paddingbottom="[0,0,0,0]"
						data-paddingleft="[30,30,30,30]" data-fontsize="['14','14','14','14']"
						data-lineheight="['16','16','16','16']">Learn More <i class="icofont-rounded-right"></i></div>
				</li>
				<li data-transition="random" data-masterspeed="1000">

					<img src="assets/images/banner_slider_4.jpg" alt="Sky" class="rev-slidebg">
					<div class="tp-caption tp-resizeme normalWraping layer_1 slider-fonts"
						data-frames="[{&quot;delay&quot;:1300,&quot;speed&quot;:2000,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power4.easeInOut&quot;},
						 {&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;auto:auto;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]"
						data-x="['70', '70', '70', '50']" data-y="['180', '180', '180', '10']" data-hoffset="0"
						data-voffset="['-124', '-110', '-100', '-50']" data-width="100%" data-height="['auto]"
						data-whitesapce="['normal']" data-fontsize="20" data-lineheight="36" data-fontweight="700"
						data-letterspacing="0" data-color="#fe8704" data-textAlign="left">What We Do</div>
					<div class="tp-caption tp-resizeme NotGeneric-Title"
						data-frames="[{&quot;delay&quot;:1600,&quot;speed&quot;:2000,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power4.easeInOut&quot;},
						 {&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;auto:auto;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]"
						data-x="['70', '70', '70', '50']" data-y="['220', '220', '220', '50']"
						data-hoffset="['12', '200', '10', '25']" data-voffset="['0', '0', '10', '25']" data-width="100%"
						data-height="['auto]" data-whitesapce="['normal']" data-word-wrap="['normal']"
						data-white-break="['break-all']" data-fontsize="['70', '70', '60', '40']"
						data-lineheight="['70', '70', '70', '45']" data-fontweight="700"
						data-letterspacing="['0', '0', '0', '0']" data-color="#FFF" data-textAlign="left"
						style="color: #FFF;">We Create Value <br>& Build Confidence</div>
					<div class="tp-caption tp-resizeme rev-btn"
						data-frames="[{&quot;delay&quot;:2000,&quot;speed&quot;:2000,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power4.easeInOut&quot;},
						 {&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;auto:auto;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]"
						data-x="['40', '70', '70', '25']" data-y="['400', '500', '500', '180']" data-hoffset="0"
						data-voffset="0" data-width="100%" data-height="['auto]" data-whitesapce="['normal']"
						data-fontweight="400" data-textAlign="left" data-paddingtop="[0,0,0,0]"
						data-paddingright="[30,30,30,30]" data-paddingbottom="[0,0,0,0]"
						data-paddingleft="[30,30,30,30]" data-fontsize="['14','14','14','17']"
						data-lineheight="['16','16','16','16']"><a href="#" class="btn-theme bg-orange"><span>Let’s get
								started</span></a></div>
				</li>
				<li data-transition="random" data-masterspeed="1000">

					<img src="assets/images/banner_slider_3.jpg" alt="Sky" class="rev-slidebg slider-fonts">
					<div class="tp-caption tp-resizeme normalWraping layer_1 slider-fonts"
						data-frames="[{&quot;delay&quot;:1300,&quot;speed&quot;:2000,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power4.easeInOut&quot;},
						 {&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;auto:auto;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]"
						data-x="center" data-y="center" data-hoffset="0" data-voffset="['-90', '-110', '-100', '-50']"
						data-width="100%" data-height="['auto]" data-whitesapce="['normal']" data-fontsize="20"
						data-lineheight="36" data-fontweight="700" data-letterspacing="0" data-color="#fe8704"
						data-textAlign="center">We Provide Best</div>
					<div class="tp-caption tp-resizeme normalWraping layer_2 slider-fonts"
						data-frames="[{&quot;delay&quot;:1600,&quot;speed&quot;:2000,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power4.easeInOut&quot;},
						 {&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;auto:auto;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]"
						data-x="center" data-y="center" data-hoffset="0" data-voffset="['12', '20', '10', '25']"
						data-width="100%" data-height="['auto]" data-whitesapce="['normal']" data-word-wrap="['normal']"
						data-white-break="['break-all']" data-fontsize="['70', '70', '60', '40']"
						data-lineheight="['70', '80', '65', '50']" data-fontweight="700" data-letterspacing="['0']"
						data-color="#FFF" data-textAlign="center">Finance & Consulting <br> Solutions</div>
					<div class="tp-caption tp-resizeme rev-btn"
						data-frames="[{&quot;delay&quot;:2000,&quot;speed&quot;:2000,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power4.easeInOut&quot;},
						 {&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;auto:auto;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]"
						data-x="center" data-y="center" data-hoffset="0" data-voffset="['150', '200', '150', '140']"
						data-width="100%" data-height="['auto]" data-whitesapce="['normal']" data-fontsize="16"
						data-lineheight data-fontweight="400" data-textAlign="center"><a href="#"
							class="btn-theme bg-orange"><span>Let’s get started</span></a></div>
				</li>

			</ul>
			<div class="tp-bannertimer tp-bottom" style="height: 7px; background-color: rgba(255, 255, 255, 0.25);">
			</div>
		</div>
	</div>
</div>